<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koiwaLearning.api.mapper.StudentsMapper">

    <resultMap id="BaseResultMap" type="com.koiwaLearning.api.domain.Students">
        <result column="sno" jdbcType="VARCHAR" property="sno" />
        <result column="sname" jdbcType="VARCHAR" property="sname" />
        <result column="ssex" jdbcType="VARCHAR" property="ssex" />
        <result column="sbirthday" jdbcType="VARCHAR" property="sbirthday" />
        <result column="sclass" jdbcType="VARCHAR" property="sclass" />
    </resultMap>

    <resultMap id="StudentDetail" type="com.koiwaLearning.api.domain.StudentDetail">
        <result column="sno" jdbcType="VARCHAR" property="sno" />
        <result column="sname" jdbcType="VARCHAR" property="sname" />
        <result column="ssex" jdbcType="VARCHAR" property="ssex" />
        <result column="sbirthday" jdbcType="VARCHAR" property="sbirthday" />
        <result column="sclass" jdbcType="VARCHAR" property="sclass" />
    </resultMap>



    <select id="getStudents" resultMap="BaseResultMap">
        SELECT * FROM students;
    </select>

    <select id="getStudent" resultMap="StudentDetail" parameterType="string">
        select * from students
        where sno = #{studentId}
    </select>





    <insert id="insertStudents" parameterType="com.koiwaLearning.api.domain.Students">
        INSERT INTO students (
            sno,sname,ssex,sbirthday,sclass)
        VALUES (
                   #{sno},#{sname},#{ssex},#{sbirthday},#{sclass});
    </insert>

    <update id="updateStudents" parameterType="com.koiwaLearning.api.domain.Students">
        UPDATE students
        SET SNAME = #{sname},
            SCLASS = #{sclass}
        WHERE   sno = #{sno};
    </update>

    <delete id="deleteStudents" parameterType="String">
        DELETE FROM students
        WHERE sno = #{sno};
    </delete>

    <delete id="deleteStudent"  parameterType="string">
        DELETE FROM students
        WHERE sno = #{sno};
    </delete>



</mapper>